.container-scroll {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 200px);
}

.container-scroll h2 {
  font-family: 'Lato Bold';
  font-size: 20px;
  margin-bottom: 1%;
  text-align: center;
}

.container-scroll-cards {
  display: flex;
  height: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  width: 90%;
}

.container-scroll::-webkit-scrollbar { display: none; }