.card-container{
  position: relative; 
  height: 200px;
  width: calc(100% / 2);
}

.card-container .card-title {
  background: rgba(0, 0, 0, 0.3);
  height: 30px;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.card-title p {
  color: var(--c-primary);
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.card-container .card-image, img {
  height: 100%;
  width: 100%;
}

img {
  object-fit: cover;
}
