.card-container{
  border: 5px solid #fff;
  height: 250px;
  margin: 0 2.5% 5% 2.5%;
  padding: 4px;
  position: relative;
  width: 40%;
}

.card-container .card-title {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  font-family: 'RobotoBold';
  height: 30px;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.card-title p {
  color: var(--c-primary);
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.card-container .card-image, img {
  height: 100%;
  width: 100%;
}

img {
  object-fit: cover;
}
