.data-content {
  height: calc(100% - 150px);
}

.data-content .data-content-title {
  height: 3em;
}

.data-content .data-content-title h4 {
  text-align: center;
  font-size: 2em;
}

.data-content .data-content-data {
  color: var(--c-primary);
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: calc(100% - 3em);
}

.data-content .data-content-data .description, .description-comic {
  height: 200px;
  margin: 0 auto;
  width: 90%;
}

.header-image {
  height: 150px;
  width: 100%;
}

.header-image img {
  object-fit: cover;
  border-radius: 0;
  height: 100%;
  width: 100%;
}

.description {
  overflow: auto;
}

.description p {
  text-align: justify;
}

.description-comic {
  height: 50px;
}

.description-comic p span {
  font-family: 'MerriweatherBlack';
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .data-content {
    height: 100%;
    width: 70%;
  }

  .header-image {
    height: 100%;
    width: 30%;
  }
  .flex-row-in-query {
    display: flex;
  }
}